.navbar-inverse {
    background-color: crimson;
    border-color: #B01030;
}

.panel-primary {
    border-color: #B01030;
}

.panel-primary > .panel-heading {
    background-color: crimson;
    border-color: #B01030;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #DC144B;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #DC144B
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: crimson;
}

.btn-primary {
    background-color: crimson;
    border-color: #B01030;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: #DC114B;
    border-color: #DC144B;
}

.btn-primary:hover {
    background-color: #DC114B;
    border-color: #DC144B;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background-color: #DC114B;
    border-color: #DC144B;
}